<title>My application deployed automatically</</title>
<h1>Hello, World!</h1>
<nav>
    <h3> <a href="/">Home</a> </h3>
<nav>
Character to be deleted: {{char}} </br>
Result: {{result}} </br>
Character ArrayList: {{chars}}
<form action="char" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>