<title>My application</title>
<h1>Hello, World!</h1>
<nav>
   <p> <a href="int">Integer Search</a> This function finds whether the Integer entered in the second box is in the Integer ArrayList in the first box.</p>
   <p> <a href="str">String Search</a> This function finds whether the String entered in the second box is in the String ArrayList in the first box.</p>
   <p> <a href="char">Char Delete</a> This function deletes the Character in the second box from the Character ArrayList in the first box.</p>
</nav>   