<title>My application deployed automatically</</title>
<h1>Hello, World!</h1>
<nav>
    <h3> <a href="/">Home</a> </h3>
<nav>
Result is {{result}}
<form action="str" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>